<!-- this displays different links per actions -->
<!-- needs to go within a row -->
<!-- has to be ordered this way or otherwise gets broken -->

  <aside class="right">
        <p><%= link_to "Show Project", project_path(@project), class: "btn btn-primary btn-block" %></p>
        <p><%= link_to "All Projects", projects_path, class: "btn btn-default btn-block" %></p>
  </aside>
