<div class="col-md-4" id="splits">
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="panel-title">
        <h4>Coordinator</h4>
      </div>
    </div>
    <div class="panel-body">
      <ul>
        <% @coordinator_splits.each do |coordinator| %>
          <li><%= coordinator.user.name %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <h4>Sales</h4>
      </div>
    </div>
    <div class="panel-body">
      <ul>
        <% @sales_splits.each do |x| %>
          <li><%= x.user.name %>, <%= x.percentage %>%</li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <h4>Involved</h4>
      </div>
    </div>
    <div class="panel-body">
      <ul>
        <% @involved_splits.each do |inv| %>
          <li><%= inv.user.name %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>