<% if user.id == current_user.id %>
  <tr class="info">
<% else %>
  <tr>
<% end %>
  <td><%= user.name %></td>
  <td><%= user.email %></td>
  <td><%= user.initials %></td>
  <td>
    <% if user.admin? %>
      Y
    <% else %>
      N
    <% end %>
  </td>
</tr>