<% provide(:title, "Client List") %>
<h1>All Clients</h1>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <table class="table table-hover">
       <thead>
        <tr>
           <th>Name</th>
        </tr>
       </thead>
       <tbody>
        <%= render @clients %>
       </tbody>
      </table>
    </div>
  </div>
</div>