<% provide(:title, "Contact List") %>
<h1>All Contacts</h1>
<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <table class="table table-hover">
       <thead>
        <tr>
           <th>Name</th>
           <th>Organisation</th>
           <th>Num of Projects</th>
        </tr>
       </thead>
       <tbody>
        <%= render @contacts %>
       </tbody>
      </table>
    </div>
  </div>
</div>