<!-- To change the values of the contact dropdown
<!-- Depending on client value. See controller /update_contacts -->
<% @contacts.each do |x| %>
  <option value=<%= x.id %>><%= x.name %></option>
<% end %>